---
- name: Install the minimum required software for further work.
  include_tasks: 0-pre-install.yml

- name: Upload files
  include_tasks: upload_files.yml

- name: Install script
  include_tasks: 1-install_mfsbsd_iso.yml

- name: Reboot the server
  reboot:
     reboot_timeout: 3 ## it will still be an error
  ignore_errors: true
